<h2 mat-dialog-title><b>How It Works</b></h2>
<mat-dialog-content class="mat-typography">
  <h3>You Choose:</h3>

  <p>You have your choice of 4 teams you believe will finish in the
    top 4 places of the simulated 22/23 EPL season. Once you select your picks
    and hit the "Predict" button your score will be calculated to see how you 
    did. 
  </p>

  <h3>Final Table:</h3>

  <p>You will be able to see the final EPL table by navigating to the "Table" tab</p>

  <h3>Scores:</h3>

  <p>The scores are calculated as follows:</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
