<div class="modal fade" id="exampleModal" tabindex="-1"
   role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Your Details:</h5>
          <button type="button" class="close" (click)="closeModal()" 
          data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="registrationForm" (ngSubmit)="closeAndRegister()">
            Value: {{ registrationForm.value | json }}
            <div class="form-group">
              <label for="username" class="col-form-label">Username</label>
              <input type="text" class="form-control"  
              placeholder="Enter New Username" 
              id="recipient-name"
              required
              formControlName="username" 
              minlength="6">
              <!-- <div class="alert alert-danger"
              *ngIf="registrationForm.controls['username'].invalid 
              && registrationForm.controls['username'].touched">
               <div class="alert alert-danger"
                *ngIf="registrationForm.controls['username'].errors!['minlength']">
                 Username must be at least 6 characters
                </div>
                <div class="alert alert-danger"
                *ngIf="registrationForm.controls['username'].errors!['required']">
                 Username is required
                </div>
            </div> -->
              
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Password</label>
              <input class="form-control" 
              type="password"
              placeholder="Enter New Password" 
              id="new-password"
              required
              formControlName="password" 
              minlength="6">
               <!-- <div class="alert alert-danger" 
               *ngIf="registrationForm.controls['password'].touched 
               && registrationForm.controls['password'].invalid">
                 <div class="alert alert-danger" 
                 *ngIf="registrationForm.controls['password'].errors!['minlength']">
                   Password must be at least 6 characters
                 </div>
                 <div class="alert alert-danger"
                *ngIf="registrationForm.controls['password'].errors!['required']">
                  Password is required
                </div> -->
               <!-- </div> -->
            </div>
            <h5 class="alert">{{ this.warningTextMessage }}</h5>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" 
              data-dismiss="modal" (click)="closeModal()">Close</button>
              <button type="submit" class="btn btn-primary" 
              >Register</button>
            </div>
          </form>
        </div>        
      </div>
    </div>
  </div>

